@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

article[data-overlay="false"]::after,
article[data-overlay="true"]::after {
  @apply pointer-events-none absolute inset-0 z-[-1] scale-95 rounded-xl bg-gradient-to-bl from-primary/5 to-background opacity-0 transition-all duration-250 ease-in-out content-[""];
}

article:hover[data-overlay="false"]::after {
  @apply scale-100 opacity-100;
}

/* Scroll Bar Styling  */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 100vmax;
  background-color: hsl(var(--background));
}

::-webkit-scrollbar-track {
  margin-block: 0.25rem;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--foreground));
  border-radius: 100vmax;
}

@supports (scrollbar-color: white black) {
  * {
    scrollbar-color: hsl(var(--foreground)) hsl(var(--background));
    scrollbar-width: thin;
  }
}

/* Utility Class  */

.centered {
  display: grid;
  place-content: center;
  min-height: calc(100dvh - 64px);
}
.minHeight {
  min-height: calc(100dvh - 64px);
}
.modalWidth {
  width: calc(100vw - 2rem);
  max-width: 350px;
}
.createModalWidth {
  width: calc(100vw - 2rem);
  max-width: 512px;
}

/* Animation  */
.slide-in {
  animation: slide-in 500ms ease-in-out;
}
@keyframes slide-in {
  from {
    opacity: 0;
    translate: 0 25px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
